/* основной цвет фона #FFFFFF; */
/* вторичный цвет фона #2F303A */
/* цвет основного текста #212121; */
/* цвет вторичного текста #757575; */
/* белый #FFFFFF */
/* акцент #2196F3; */
/* цвет фона преимуществ #F5F4FA; */
/* цвет иконок секции "Наши клиенты" #AFB1B8; */
/* цвет ссылок футера rgba(255, 255, 255, 0.6); */
/* цвет фона соц сетей rgba(255, 255, 255, 0.1); */

:root {
	--primary-bg-color: #ffffff;
	--secondary-bg-color: #2f303a;
	--color-main-text: #212121;
	--color-secondary-text: #757575;
	--white: #ffffff;
	--accent: #2196f3;
	--color-bg-advantges: #f5f4fa;
	--color-icon-our-clients: #afb1b8;
	--color-footers-link: rgba(255, 255, 255, 0.6);
	--color-ftr-social-link: rgba(255, 255, 255, 0.1);
}
/* Общее форматирование */
body {
	background-color: var(--primary-bg-color);
	color: var(--color-main-text);
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	margin-right: auto;
	margin-left: auto;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}
.border {
	border-top: 1px solid #ececec;
}

.link {
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.container {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 94px;
	padding-bottom: 94px;
}
.no-padding {
	padding-top: 0px;
	padding-bottom: 0px;
}
/* Шапка сайта  */
.header-wrapper {
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #ececec;
}

/* ------navbar*/
.navbar {
    display: flex;
    align-items: center;
}

/*------logo*/
.logo {
    display: block;

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--active-color);
    text-decoration: none;
}
.logo-part-in-header {
    color: var(--black-text-color);
}

/*-----nav in Header*/
.nav-in-header {
    display: flex;
    margin-left: 93px;
}
.nav-in-header-element:not(:last-child) {
    margin-right: 50px;
}
.nav-in-header-element > a {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14; /*16px*/
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-in-header-element > a:hover,
.nav-in-header-element > a:focus {
    color: var(--active-color);
}
.nav-in-header-element .current {
    color: var(--active-color);
}
.nav-in-header-element .current::after {
    content: "";
    position: absolute;

    display: block;
    width: 100%;
    height: 4px;
    bottom: 0px;

    background-color: var(--active-color);
    border-radius: 2px;
}

/*-------Contacts in Header*/
.contact-in-header {
    display: flex;
    margin-left: auto;
}
.contact-in-header li:not(:last-child) {
    margin-right: 50px;
}
.contact-in-header-element {
    display: flex;

    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-contact {
    fill: currentColor;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-in-header-element:hover,
.contact-in-header-element:focus {
    color: var(--active-color);
}
.contact-in-header-element:hover .icon-contact,
.contact-in-header-element:focus .icon-contact {
    fill: var(--active-color);
}


/* Герой */

.hero {
	display: flex;
	align-items: center;

	max-width: 1600px;
	height: 600px;

	background-color: var(--secondary-bg-color);
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/portfolio.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px 0px;
}

.hero .container {
	color: var(--white);
	text-align: center;
}

.hero .title-hero {
	font-weight: 900;
	font-size: 42px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 30px;
	text-align: center;
}

.btn-hero {
	display: inline-block;
	background-color: var(--accent);
	color: var(--white);
	font-weight: bold;
	font-size: 16px;
	line-height: 1.87;
	min-width: 200px;
	padding: 10px 32px;
	border-radius: 4px;
}

/* Стили секций */
section p {
	color: var(--color-secondary-text);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
}

section h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--color-main-text);
	margin-top: 0px;
	margin-bottom: 0px;
}
section .hidden {
	display: none;
}

/* Стиль преимуществ */
.advantages h3 {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	margin-top: 0px;
	margin-bottom: 10px;
}

.advantages p {
	margin-top: 0px;
	margin-bottom: 0px;
}
.advantages .container {
	padding-bottom: 0px;
}
.advantages-list {
	flex-wrap: wrap;
}

.advantages-list-item::before {
	content: '';
	display: block;

	height: 120px;
	margin-bottom: 30px;
	border-radius: 4px;

	background-size: content;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--color-bg-advantges);
}

.advantages-list-item.icon-antenna::before {
	background-image: url(../img/antenna.svg);
}
.advantages-list-item.icon-clock::before {
	background-image: url(../img/clock.svg);
}
.advantages-list-item.icon-diagram::before {
	background-image: url(../img/diagram.svg);
}
.advantages-list-item.icon-astronaut::before {
	background-image: url(../img/astronaut.svg);
}

.advantages-list-item:not(:last-child) {
	margin-right: 30px;
}
.advantages-list-item {
	width: calc((100% - 3 * 30px) / 4);
}

/* Чем мы занимаемся  */
.we-are-doing-item:not(:last-child) {
	margin-right: 30px;
}

.we-are-doing-list {
	flex-wrap: wrap;
	margin-top: 50px;
}

/* "Наша команда */
.team {
	background-color: var(--color-bg-advantges);
}
.team h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 10px;
	margin-top: 30px;
}
.team p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	margin-bottom: 16px;
}
.team-item:not(:last-child) {
	margin-right: 30px;
}

.team-list {
	flex-wrap: wrap;
	margin-top: 50px;
}
.team-item {
	width: calc((100% - 3 * 30px) / 4);
	background-color: var(--primary-bg-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-list-icon {
	justify-content: center;
	margin-bottom: 30px;
}
.team-item-icon:not(:last-child) {
	margin-right: 10px;
}
.team-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
}
.team-item-icon:not(:last-child) {
	margin-right: 10px;
}
.team-icon {
	fill: var(--color-icon-our-clients);
}
.team-link:hover,
.team-link:focus {
	background-color: var(--accent);
}
.team-link:hover .team-icon,
.team-link:focus .team-icon {
	fill: var(--primary-bg-color);
}

/* Наши клиенты */
.clients-icon-list {
	justify-content: center;
	padding-top: 24px;
	padding-bottom: 25px;
}
.clients-icon-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 90px;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	/* padding-top: 20px; */
}
.client-icon {
	fill: var(--color-icon-our-clients);
}
.clients-icon-item:not(:last-child) {
	margin-right: 30px;
}
.clients-icon-item:hover,
.clients-icon-item:focus {
	border: 1px solid #2196f3;
	cursor: pointer;
}
.clients-icon-item:hover .client-icon,
.clients-icon-item:focus .client-icon {
	fill: var(--accent);
}
/* Футер */
.footer {
    max-width: 1600px;
    margin: 0 auto;

    background: var(--dark-bg-color);
}
.flex-container {
    display: flex;
}
.contacts-block-in-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: 70px;
}
.footer .logo {
    margin-bottom: 20px;
}
.logo-part-in-footer {
    color: var(--white-text-color);
}

.address-list-in-footer {
    font-style: normal;
}

.address-in-footer-element-text > a {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
    text-decoration: none;
}
.address-in-footer-element > a {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contacts-header-text-color);
    text-decoration: none;
}
.address-list-in-footer li:not(:last-child) {
    margin-bottom: 9px;
}
.join-block-in-footer {
    padding-top: 72px;
    padding-bottom: 100px;
}
.join-block-in-footer h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-text-color);
}
.join-block-in-footer .block-social-links {
    margin-top: 20px;
}
.join-block-in-footer .social-link {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--white-text-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-block-in-footer .social-link:hover,
.join-block-in-footer .social-link:focus {
    background-color: var(--active-color);
}

/* Portfolio.html */

/*-----list Filter*/
.list-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.list-filter-element:not(:last-child) {
    margin-right: 8px;
}
.list-filter-button {
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background: var(--button-bg-color);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-filter-button:hover,
.list-filter-button:focus {
    background-color: var(--active-color);
    color: var(--white-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08);
}

/*-----list  Portfolio*/
.list-portfolio {
    display: flex;
    flex-wrap: wrap;
}
.list-portfolio-item {
    width: 370px;
    cursor: pointer;
}
.list-portfolio-item:not(:nth-child(3n)) {
    margin-right: 30px;
}
.list-portfolio-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.list-portfolio-block-link {
    text-decoration: none;
    font-style: normal;
    background: var(--main-bg-color);
    border: 1px solid #eeeeee;
    border-top: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.block-title-portfolio {
    margin: 20px 24px;
}
.project-name {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
}
.project-discription {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
/*overlay__block*/
.overlay-and-img {
    position: relative;
    overflow: hidden;
}
.overlay-and-img .overlay-block {
    position: absolute;
    width: 100%;
    height: 294px;
    top: 0;

    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-block .text {
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--white-text-color);
}

.list-portfolio-block-link:hover,
.list-portfolio-block-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list-portfolio-block-link:hover .overlay-block {
    transform: translateY(0);
    opacity: 1;
}